<h1 class="titulo">CRUD DE ALUNOS</h1>

<div class="card" style="width: full;">
	<div class="card-body">
		<h5 class="card-title">Cadastro de Alunos</h5>
		<p>Nome: <input type="text" name="nome" [(ngModel)]=nome></p>
     <p> Matrícula: <input type="text" name="matricula" [(ngModel)] =matricula></p>
    <p>Idade: <input type="number" name="idade" [(ngModel)]=idade></p>
    <a class="btn btn-success" (click)=cadastrar()>Cadastrar</a>
  </div>
</div>

<div class="card" style="width: full;">
  <div class="card-body">
<h5 class="card-title">Lista de Alunos</h5>
<p>Quantidade de Alunos Cadastrados: {{tamanhoLista}}</p>
<p *ngIf="tamanhoLista==0">Não há alunos cadastrados </p>
<p *ngFor="let listagem of listaAlunos; let i = index">
  Aluno {{i+1}}: {{listagem}}
  <button class="btn btn-danger" (click)=remover(i)>X</button>
</p>
</div>
</div>